body {
	background-color: black;
	color: #CDC7C7;
	overflow: scroll;
}
.input_field{
	width: 300px;
	height: 50px;
	background: black;
	border: 1px solid #CDC7C7;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	font-size:20pt;
	color: #CDC7C7;
}
input:focus {
	outline: none !important;
}

.input_button{
	background-color: transparent;
	padding:0.5em 3em;
	border:1px solid #CDC7C7;
	margin:0 0.3em 0.3em 0;
	text-transform:uppercase;
	font-family: 'Source Code Pro', sans-serif;
	font-weight:300;
	font-size: 15pt;
	color:#CDC7C7;
	text-align:center;
	transition: all 0.15s;
}
.input_button:hover {
	background-color:transparent;
}
.input_button:active {
	background: #CDC7C7;
	position:relative;
	top:1px;
}

.done {
	background-color: transparent;
	padding:0.3em 2em;
	border:1px solid #045022;
	margin:0 0.3em 0.3em 0;
	text-transform:uppercase;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 10pt;
	color:#CDC7C7;
	text-align:center;
	transition: all 0.15s;
}
.done:hover {
	background-color:transparent;
}
.done:active {
	background: #045022;
	position:relative;
	top:1px;
}

.remove {
	background-color: transparent;
	padding:0.3em 2em;
	border:1px solid #C0392B;
	margin:0 0.3em 0.3em 0;
	text-transform:uppercase;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 10pt;
	color:#CDC7C7;
	text-align:center;
	transition: all 0.15s;
}

.remove:hover {
	background-color:transparent;
}
.remove:active {
	background: #C0392B;
	position:relative;
	top:1px;
}

/*horizontal type line behind text */
h2 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

h2 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  position: relative;
  padding: 0 20px;
}

h2 span:before, h2 span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid white;
}

h2 span:before {
  right: 100%;
}

h2 span:after {
  left: 100%;
}
/*end*/




/*td {
  height: 40px;
}

tr {
	margin: 0 auto;
}*/